html
	head
		title Register User
	
	body
		include ../partials/headers.pug
		div#error(style="color:red")
		div
			| Username: 
			input#name(type="textbox")
		div
			| Password: 
			input#pass(type="password")
		div
			button#submit(type="button") Register
		script(src="/register.js")